


body{
    background-color: bisque;
    text-align: center;
}

.form {

background-color: rgb(252, 209, 158);
        color: #404358;
        font-weight: bold;
        margin-top: 4px;
        margin-bottom: 4px;

}